@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<div class="container">
    <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                    </ul>
                </nav>
                <h1 class="text-center">Blog</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <form action="#" class="form-search-blog">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select id="categories" class="custom-select bg-light">
                                <option>All Categories</option>
                                <option value="logistics">Logistics</option>
                                <option value="supply-chain">Supply Chain</option>
                                <option value="technology">Technology</option>
                                <option value="case-studies">Case Studies</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter keyword..">
                    </div>
                </form>
            </div>
            <div class="col-sm-2 text-sm-right">
                <button class="btn btn-secondary">Filter <span class="mai-filter"></span></button>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-1.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">The Future of Transportation Management Systems</a></h5>
                        <div class="post-date">Posted on <a href="#">15 Oct 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-2.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">How TMS is Revolutionizing Supply Chains</a></h5>
                        <div class="post-date">Posted on <a href="#">10 Oct 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-3.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Top Trends in Logistics Technology</a></h5>
                        <div class="post-date">Posted on <a href="#">5 Oct 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-4.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Case Study: Reducing Costs with TMS</a></h5>
                        <div class="post-date">Posted on <a href="#">1 Oct 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-5.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">The Role of AI in Modern TMS Solutions</a></h5>
                        <div class="post-date">Posted on <a href="#">25 Sep 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-6.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Sustainability in Logistics: A TMS Perspective</a></h5>
                        <div class="post-date">Posted on <a href="#">20 Sep 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-7.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">How to Choose the Right TMS for Your Business</a></h5>
                        <div class="post-date">Posted on <a href="#">15 Sep 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-8.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">The Impact of Real-Time Tracking on Logistics</a></h5>
                        <div class="post-date">Posted on <a href="#">10 Sep 2023</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-blog">
                    <div class="header">
                        <div class="post-thumb">
                            <img src="../assets/img/blog/tms-9.jpg" alt="TMS Blog">
                        </div>
                    </div>
                    <div class="body">
                        <h5 class="post-title"><a href="blog-details.html">Scaling Your Business with Advanced TMS Solutions</a></h5>
                        <div class="post-date">Posted on <a href="#">5 Sep 2023</a></div>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>