
.account-container {
    background-image: url('/Images/world_pattern.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
    background-color: #2D2B3A;
}

.navbar-brand{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}

.navbar-brand:hover{
    text-decoration:none;
}

.account-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width:100%;
    opacity: .9;
}